<!--
Student name: Chan, Kam Fai
Student ID: 301278942  -->

<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   

<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to <%= title %> page</h1>
    <p>Welcome Aboard! Join Us on a Journey of Discovery at my projects.</p>
    <br>
    <h3>Mission Statement</h3>
    
    <p>We're committed to develop the most user friendly software to everyone.</p>

    <button><a href="/about">Click here to know more about me</a></button>
    </div>
    </main>
    <!--bottom nav-->
   
   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
