<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   

<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to <%= title %> page</h1>
    <h3>Project 1: Introducing My hobbies</h3>
    <img src="/img/project_1.png" alt="Project 1" style="height: 400px">
    <p>The is a simple HTML website introducing my top hobbies. </p>
    <button><a href="http://studentweb.cencol.ca/kchan287/">Project 1 link</a></button>

    <h3>Project 2: Introducing My hobbies</h3>
    <img src="/img/project_2.png" alt="Project 2" style="height: 400px">
    <p>The is a simple HTML form, which will collect data from user.</p>
    <button><a href="http://studentweb.cencol.ca/kchan287/assignment4/index.html">Project 2 link</a></button>

    <h3>Project 3: Introducing My hobbies</h3>
    <img src="/img/project_3.png" alt="Project 3" style="height: 400px">
    <p>The is a simple website with javascript function, which can draw tables with user defined size. </p>
    <button><a href="http://studentweb.cencol.ca/kchan287/sem2/assignment1/assignment1.html?#">Project 3 link</a></button>

    </div>
    </main>
    <!--bottom nav-->
   
   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
