<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   

<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to <%= title %> page</h1>
    <h2>Service we offer</h2>
    <li class="serviceOffer">
      <ul>General programming</ul>
      <img src="/img/view1.png" alt="view1">
      <ul>Full stack web development</ul>
      <img src="/img/view2.png" alt="view2">
      <ul>Mobile apps</ul>
      <img src="/img/view3.png" alt="view3">
      <ul>Database management</ul>
      <img src="/img/view4.png" alt="view4">
      <ul>Software design</ul>
      <img src="/img/view5.png" alt="view5">
    </li>
    </div>
    </main>
    <!--bottom nav-->
   
   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
